body {
  background-image: url("IMG/devmap.png"); /*testmap.png is main */
 background-repeat: no-repeat;
 background-size: cover;
 user-select: none;
}

img {
 height: 100px; 
 position: absolute;
}

#casje {
 position: absolute;
 z-index: 2;
}

