body{
    background-color: #3D3D3D;
}


#cards {
    float: right;
    position: relative;
    bottom: 650px;
    left: 250px;
}

#input {
    float: right;
    position: relative;
    bottom: 750px;
    right: 700px;
    color: white;
}

#Mage:hover{
    cursor: grab;
}

#Swordsman:hover{
    cursor: grab;
}

#Archer:hover{
    cursor: grab;
}