@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

body {
  background-image: url("IMG/Battlebackground.png");
  background-repeat: no-repeat;
}

* {
  font-family: 'Fira Mono', monospace;
}


#playerhpbar {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
  border-radius: 5px;
  padding-left: 5px;
  margin-top: 25px;
  user-select: none;
  transition: transform;
  transition-duration: 70ms;
}

#enemyhpbar {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
  border-radius: 5px;
  float: right;
  margin-top: -20px;
  position: relative;
  user-select: none;
  transition: transform;
  transition-duration: 70ms;
}

#attackmenu {
  bottom: 0;
  right: 0;
  background-color: wheat;
  width: 700px;
  height: 250px;
  border-radius: 4%;
  position: absolute;
}

#dobblesteen {
  bottom: 0;
  right: 0;
  position: absolute;
  user-select: none;
}

#dobbleoutput {
  bottom: 0;
  right: 0;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
  position: absolute;
  color: white;
  font-size: 300%;
  user-select: none;
}

#swordatk {
  height: 80px;
  width: 150px;
  border-radius: 15px;
  background-image: url(IMG/sword-backdrop.png);
  background-size: 400%;
  color: white;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

#archatk {
  height: 80px;
  width: 150px;
  border-radius: 15px;
  background-image: url(IMG/archer-backdrop.png);
  background-size: 100%;
  color: white;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;

}

#magicatk {
  height: 80px;
  width: 150px;
  border-radius: 15px;
  background-image: url(IMG/magic-backdrop.png);
  color: white;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

#run {
  height: 50px;
}