@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

body {
  background-image: url("IMG/Battlebackground.png");
  background-repeat: no-repeat;
}

* {
  font-family: 'Fira Mono', monospace;
}

/* img {
  height: 160px; 
  opacity: 90%;
  margin-left: 41.5%;
  margin-top: 3.5%;
} */

#playerhpbar {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
  border-radius: 5px;
  padding-left: 5px;
  /* text-shadow: -1px -1px 0px black, 0.5px 0.5px 0px black, 0.5px 0.5px 0px #00000055; */
}